<%- include("../header"); %>
<div class="container">

    <div class="col-12 mt-2">
    
        <table class="table text-center">
            <tr class="table-dark ">
                <th>Gama Alta</th>
                <th>Gama Media</th>
                <th>Gama Baja</th>
            </tr>

                <tr>
                    <td>Iphone 12 pro 700$</td>
                    <td>Redmi Note 13 pro 230$</td>
                    <td>Iphone 6 100$</td>
                    </tr>
                    
                    <tr>
                        <td>Iphone 12 pro max 800$</td>
                        <td>realme 10 pro 400$</td>
                        <td>Iphone 8 120$</td>
                        </tr>
                        
                        <tr>
                            <td>Oppo Find X7 800$</td>
                            <td>Poco X6 250$</td>
                            <td>Iphone 9 180$</td>
                            
                            </tr>
                            
                            <tr>
                                <td>Oppo Find X7 Ultra 5G 1200$</td>

                </tr>

        </table>  


    </div>

</div>
<%- include("../footer"); %>