<%- include("../header"); %>


<div class="container pb-3 mt-2">
    
    <div class="row bg-dark">
        <h1 class="title">Productos Disponibles</h1>
    </div>
    
    <div  class="row">



        <div class="col-sm-8 col-md-6 col-lg-5 col-xl-4">

            <div class="card m-4"  style="width: 18rem;">
                <img src="/img/1.jpg" class="card-img-top" alt="Telefono">
            <div class="card-body">
                <p class="card-text">Iphone 12 pro 700$</p>
            </div>
        </div>
        </div>
    
        <div class="col-sm-8 col-md-6 col-lg-5 col-xl-4">

            <div class="card m-4"  style="width: 18rem;">
                <img src="/img/9.jpg" class="card-img-top" alt="Telefono">
            <div class="card-body">
                <p class="card-text">Oppo Find X7 800$</p>
            </div>
        </div>
        </div>

        <div class="col-sm-8 col-md-6 col-lg-5 col-xl-4">

            <div class="card m-4"  style="width: 18rem;">
                <img src="/img/4.jpg" class="card-img-top" alt="Telefono">
            <div class="card-body">
                <p class="card-text">Iphone 6 100$</p>
            </div>
        </div>
        </div>
        
        <div class="col-sm-8 col-md-6 col-lg-5 col-xl-4">

            <div class="card m-4"  style="width: 18rem;">
                <img src="/img/6.jpg" class="card-img-top" alt="Telefono">
            <div class="card-body">
                <p class="card-text">realme 10 pro 400$</p>
            </div>
        </div>
        </div>
        <div class="col-sm-8 col-md-6 col-lg-5 col-xl-4">

            <div class="card m-4"  style="width: 18rem;">
                <img src="/img/7.jpg" class="card-img-top" alt="Telefono">
            <div class="card-body">
                <p class="card-text">Poco X6 250$</p>
            </div>
        </div>
        </div>


        <div class="col-sm-8 col-md-6 col-lg-5 col-xl-4">

            <div class="card m-4"  style="width: 18rem;">
                <img src="/img/9.jpg" class="card-img-top" alt="Telefono">
            <div class="card-body">
                <p class="card-text">Oppo Find X7 800$</p>
            </div>
        </div>
        </div>

        <div class="col-sm-8 col-md-6 col-lg-5 col-xl-4">

            <div class="card m-4"  style="width: 18rem;">
                <img src="/img/10.jpg" class="card-img-top" alt="Telefono">
            <div class="card-body">
                <p class="card-text"> Iphone 8 120$</p>
            </div>
        </div>
        </div>


</div>
</div>
<%- include("../footer"); %>